.wrapper {
  display: none;
  background-color: rgba(245, 245, 245, 0.993);
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  z-index: 3000;
  padding-top: 10px;
  margin: 0;
  left: 0;
  right: 0;
}

.btm-nav-icons ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}
.github-icon,
.li-icon,
.m-icon {
  color: rgb(134, 134, 134);
}

.m-icon:hover {
  color: #212529;
  cursor: pointer;
}
.li-icon:hover {
  color: #2867b2;
  cursor: pointer;
}
.github-icon:hover {
  color: #211f1f;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    display: inline;
  }
}
@media screen and (max-width: 800px) {
  .wrapper {
    display: inline;
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    display: inline;
  }
}
