.container-contact {
  padding-bottom: 50px;
}
.sub-container-contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: auto;
  height: 450px;
  background: #fdfbfae0;
  z-index: 2;
  border: 0.1px dashed #fe5708;
  padding: 1px;
  position: relative;
}

.container-contact-shadow {
  background-color: #f8cbb6;
  max-width: 1050px;
  height: 470px;
  padding-left: 20px;
  padding-top: 20px;
}

.contact-corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fe5708;
  border: 1.5px solid #fe5708;
  position: absolute;
}

#contact-corner-tl {
  top: -5px;
  left: -5px;
}
#contact-corner-tr {
  top: -5px;
  right: -5px;
}
#contact-corner-bl {
  bottom: -5px;
  right: -5px;
}
#contact-corner-br {
  bottom: -5px;
  left: -5px;
}

.title-contact {
  margin: 5%;
  padding-top: 0.5em;
}

.title {
  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: -0.035em;
  color: #47290c;
  text-shadow: 0 0 2px #f4f9fc; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #f4f9fc;
  -webkit-text-shadow: 0 0 2px #f4f9fc;
  margin-bottom: 0%;
}
.big-dot-contact {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #fe5708;
}

.sub-text-contact {
  width: 80%;
}
.contact-btn {
  border: 1px dashed #fe5708;
  box-sizing: border-box;
  border-radius: 8px;
  width: 270px;
  height: 55px;
  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  margin-top: 5%;
  background-image: url("../../public/images/orange-lines.png");
  background-repeat: repeat;
  background-color: rgb(244, 249, 252);
  margin-right: 2%;
}
.btn-contact-text {
  color: #fe5708 !important;
  text-shadow: 5px 0 0 #f4f9fc, -2px 0 0 #f4f9fc, 0 2px 0 #f4f9fc, 0 -2px 0 #f4f9fc, 1px 1px #f4f9fc;
}
.contact-btn:hover {
  background-color: #ffceb7;
  cursor: pointer;
}
.bg-dots-contact {
  background-image: url("../../public/images/orange-lines.png");
  background-repeat: repeat;
  position: absolute;
  width: 157px;
  height: 580px;
  left: 250px;
  top: 3000px;
  z-index: 2;
}

/* Responsive code */
@media screen and (max-width: 800px) {
  .title {
    font-size: 38px;
  }
  .contact-btn {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
  .sub-text-contact {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .container-contact {
    padding-top: 50px;
    width: 100vw;
    display: block;
    padding-bottom: 50px;
  }
  .sub-container-contact {
    width: 300px;
  }
  .container-contact-shadow {
    max-width: 280px;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
  }
  .title {
    font-size: 24px;
  }
  .contact-btn {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
  .sub-text-contact {
    width: 100%;
  }
  .bg-dots-contact {
    left: 130px;
    top: 4470px;
  }
}
