.container-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "col-left col-right";
  width: auto;
}

.col-left {
  align-self: center;
  width: 100%;
  grid-area: col-left;
}
.col-left h1 {
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.subtitle {
  font-weight: normal;
  font-size: 3rem;
  line-height: 0;
}
#big-dot-hero {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #0061a8 !important;
}
.col-right {
  width: 100%;
  place-content: start space-evenly;
  float: right;
  grid-area: col-right;
  z-index: 2;
}
.dots-right-corner {
  position: absolute;
  width: 200px;
  height: 250px;
  left: 1250px;
  top: 333px;
  background-image: url("../assets/images/dots.png");
  background-repeat: repeat;
  opacity: 0.2;
  z-index: 1;
}
.dots-bottom-corner {
  position: absolute;
  width: 210px;
  height: 178px;
  left: 900px;
  top: 600px;
  background-image: url("../assets/images/left-corner-dots.png");
  background-repeat: repeat;
  opacity: 0.2;
  z-index: 1;
}
.main-photo {
  width: 500px;
  height: auto;
  z-index: 2;
}

.gradient-text {
  font-size: 4rem;
  margin-bottom: 10px;
  /* Fallback: Set a background color. */
  background-color: #0061a8;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #0f1b61 16.666%,
    #374594 16.666%,
    #071044 33.333%,
    #0f1b61 16.333%,
    #374594 16%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

/* responsive code */

@media screen and (max-width: 1200px) {
  .container-hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .col-left h1 {
    text-align: center;
    font-size: 4rem;
  }
  .col-right {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .container-hero {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
  }

  .col-left h1 {
    text-align: center;
    font-size: 3rem;
  }
  .col-right {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .container-hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-bottom: 50px;
  }
  .col-left h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 120%;
  }
  .subtitle {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 100%;
  }
  .col-right {
    margin: 0 auto;
    text-align: center;
  }
  .main-photo {
    width: 200px;
  }
}
