.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.col-left {
  width: 50%;
}
.col-right {
  width: 50%;
}
.dots-right-corner {
  position: absolute;
  width: 284px;
  height: 320px;
  left: 1083px;
  top: 333px;
  background-repeat: repeat;
  background-image: url("../../public/images/dots.png");
  border: solid 4px red;
}
