.side-bar-icons {
  width: 100%;
  position: fixed;
  z-index: 200;
  top: 200px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}
.side-bar-icons ul li {
  font-size: 24px;
  list-style: none;
}

@media screen and (max-width: 400px) {
  .side-bar-icons {
    display: none;
  }
}
