.container-skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sub-container-skills {
  width: auto;
  height: auto;
  background: rgba(255, 248, 247, 0.8);
  z-index: 2;
  border: 0.1px dashed #ffbfcf;
  padding: 15px;
  position: relative;
}

.container-skill-shadow {
  background-color: #f7ebee;
  max-width: auto;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #f67796;
  border: 1.5px solid #ec2758;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}

.title-skill {
  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  letter-spacing: -0.02em;
  color: #011963;
  text-shadow: 0 0 2px #f4f9fc; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #f4f9fc;
  -webkit-text-shadow: 0 0 2px #f4f9fc;
  margin-bottom: 0%;
  line-height: 120.5%;
}
.sub-text-text {
  font-weight: lighter;
  font-size: 2rem;
}
.big-dot-skills {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #f67796;
}
.line-skills {
  border-top: 5px solid #f67796;
  align-content: left;
  width: 120px;
  margin: 0px;
}
.skill-title-container {
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 1%;
  z-index: 4;
}

.tech-tools-container {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.tech-tools-container ul {
  color: #474a57;
  list-style: none;
  font-size: 24px;
  font-weight: 500px;
}
.tech-tools-container ul li::before {
  content: " ";
  color: #f39bb1;
  border-radius: 100px;
  font-weight: bold;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: -1em;
  margin-right: 1em;
  background-color: #f67796;
}
.tech-tools-container li::selection {
  background-color: #f67796;
  color: white;
}
.title-skill::selection {
  background-color: #f67796;
  color: white;
}
.sub-text-text::selection {
  background-color: #f67796;
  color: white;
}
/* Responsive code */
@media screen and (max-width: 1200px) {
  .title-skill {
    font-size: 38px;
  }
  .tech-tools-container ul li {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 800px) {
  .title-skill {
    font-size: 38px;
  }
  .tech-tools-container ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 420px) {
  .tech-tools-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .sub-container-skills {
    width: auto;
    height: auto;
  }
  .container-skill-shadow {
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
  }
  .title-skill {
    font-size: 24px;
  }
  .tech-tools-container ul {
    font-size: 16px;
  }
  .tech-tools-container ul li::before {
    width: 8px;
    height: 8px;
  }
}
