.container-skills {
  height: 100vh;
  margin-bottom: 10%;
}
.sub-container-skills {
  position: relative;
  width: 1232px;
  height: 642px;
  background: rgba(255, 248, 247, 0.8);
  z-index: 2;
  box-shadow: 7px 7px 7px -7px rgba(0, 0, 0, 0.1);
  border: 0.1px dashed #ffbfcf;
  padding: 15px;
  position: relative;
}

.container-skill-shadow {
  background-color: #ffd9e2;
  max-width: 1232px;
  height: 642px;
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 10px;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #f67796;
  border: 1.5px solid #ec2758;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}

.title-skill {
  font-family: Bitter;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.035em;
  color: #011963;
  text-shadow: 0 0 2px #f4f9fc; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #f4f9fc;
  -webkit-text-shadow: 0 0 2px #f4f9fc;
  margin-bottom: 0%;
}
.sub-text-text {
  font-weight: normal;
}
.big-dot-skills {
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  color: #f67796;
}
.line-skills {
  border-top: 5px solid #f67796;
  align-content: left;
  width: 120px;
  margin: 0px;
}
.skill-title-container {
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 1%;
  z-index: 4;
}

.tech-tools-container {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.tech-tools-container ul {
  color: #474a57;
  list-style: none;
  font-size: 24px;
  font-weight: 500px;
}
.tech-tools-container ul li::before {
  content: " ";
  color: #f67796;
  border-radius: 100px;
  font-weight: bold;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: -1em;
  margin-right: 1em;
  background-color: #f67796;
}
.bg-dots-skills {
  background-image: url("../../public/images/pink-dots.png");
  background-repeat: repeat;
  position: absolute;
  width: 157px;
  height: 880px;
  left: 250px;
  top: 2000px;
  z-index: 1;
}

.big-circle {
  position: absolute;
  width: 450px;
  height: 150px;
  background-image: url("../../public/images/pink-dots.png");
  background-repeat: repeat;

  left: 800px;
  top: 60px;
  z-index: 4;
}

/* Responsive code */

@media screen and (max-width: 400px) {
  .container-skills {
    background-color: green;
    width: 100vw;
  }
  .sub-container-skills {
    width: 280px;
  }
  .tech-tools-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container-skill-shadow {
    max-width: 280px;
    height: 180px;
    padding-left: 10px;
    padding-top: 10px;
  }

  #preview {
    width: 280px;
  }
}
